= javascript_include_tag :fckeditor 
- @page_title = "New blog" 

%h1 New Blog

- if params[:preview_button]
  = render :partial => @blog, :locals => {:show_byline => :false}

= error_messages_for :blog

- form_for(@blog) do |f| 
  %p
    = f.label :title
    %br
    = f.text_field :title

  = fckeditor_tag("blog") 

  %p= post_tweet_check_box
  
  %p
    = f.check_box :active
    = f.label :active

  %p
    = f.submit "Preview", :name => "preview_button" 
    = f.submit "Create"  

/ javascript_include_tag("saver")