<% show_byline = true if show_byline.nil?%>

<div class="comment">
<div class="comment_body"><%= h(sanitize(blog_comment.body)) %></div>

  <% unless blog_comment.created_at.nil? %>
    <p class="post_date">
      Posted on <%= blog_comment.created_at.strftime("%b %d %Y") %> by <strong>
        <% unless blog_comment.website.blank? %>
          <% website = sanitize(blog_comment.website) %>
          <% unless website.match(/http:\/\//) %>
            <% website = "http://#{website}" %>
          <% end %>
          <%= link_to sanitize(blog_comment.name), website %>
        <% else %>
          <%= sanitize blog_comment.name %>
        <% end %>
        </strong>.
      <% if logged_in? %>
        (<%= link_to "edit", edit_comment_path(blog_comment) %> | <%= link_to 'delete', blog_comment, :confirm => 'Are you sure?', :method => :delete %>)
      <% end %>
    </p>
  <% end %>

</div>