#new_comment
  %h3 Leave a comment
  
  - if params[:preview_button] 
    = render :partial => "comments/comment", :locals => {:blog_comment => @preview_comment, :show_byline => :false} 
   
    
  = error_messages_for :comment 
  
  - form_for(@comment, :url => comments_path(:blog => @blog)) do |f| 
    %dl 
      %dt= f.text_field :name
      %dd= f.label :name, "Name (required)"
      %dt= f.text_field :email 
      %dd= f.label :email, "Mail (will not be published) (required)"
      %dt= f.text_field :website 
      %dd= f.label :website
    
    = f.text_area :body 
    
    %p
      = check_box_tag('subscribe', '1', @subscribe)
      = label_tag :subscribe, "Notify me by email of further comments to this post."
    
    - if @global_settings.use_captcha_for_comments?
      #captcha
        = recaptcha_tags 
    
    %p 
      = f.submit "Preview", :name => "preview_button" 
      = f.submit "Create"  
   
  - if @blog.subscribed(cookies[:email]) 
    %p= "#{link_to('Unsubscribe', unsubscribe_blog_path(@blog, :email => cookies[:email]))} from notification of further comments to this post."   
