<% @page_title = "New Mail" %>
<%= javascript_include_tag :fckeditor %>

<div id="mail">
  
<h1>New mail</h1>

<%= preview @mail, params, false %>

<%= error_messages_for :mail %>

<% form_for(@mail) do |f| %>
  <p>
		<%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  
    <%= fckeditor_tag("mail") %>

    <p>
      <%= f.submit "Preview", :name => "preview_button" %>
      <%= f.submit "Create" %> 
    </p>
<% end %>


</div> <!-- end DIV "mail" -->