<% @page_title = "Edit Song" %>

<%= javascript_include_tag :fckeditor %>

<h1>Edit Song</h1>

<%= error_messages_for :song %>

<% form_for(@song) do |f| %>
  <p>
    <b>Title (required)</b><br />
    <%= f.text_field :title %>
  </p>
  
  <p>
    <b>Filename</b><br />
    <%= f.text_field :filename %>
  </p>
  
  <p>
    <%= f.label :player_code %><br />
    <%= f.text_area :player_code %>
  </p>
  
  <p>
    <%= f.label :mini_player_code %><br />
    <%= f.text_area :mini_player_code %>
  </p>
  
  <p>Description:</p>
  <%= fckeditor_tag("song") %>

  <p>
    <%= f.label(:thumbnail, "Thumbnail image URL") %>
    (should be 215x100)
    <br />
    <%= f.text_field :thumbnail %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @song %> |
<%= link_to 'Back', songs_path %>
