<% @page_title = "Music" %>
  
  <div id="song">
    
    <%= header "Music", songs_path %>
  
  <% if logged_in? %>
    <p><%= link_to "New song", new_song_path %></p>
  <% end %>
    
    <%= will_paginate %>
    <% unless @songs.empty? %>    
      <% for @song in @songs %>
          <%= render :partial => @song, :locals => {:show_byline => true} %>
      <% end %>
    <% end %>
    
    <%= will_paginate %>
  
  </div> <!-- end DIV "song" -->      
