<% @page_title = "Edit Page" %>

<%= javascript_include_tag :fckeditor %>
<h1>Edit Page</h1>

<%= error_messages_for :page %>

<% form_for(@page) do |f| %>
  <p>
		<%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
		<%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>

    <%= fckeditor_tag("page") %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
