<% @page_title = "Edit Styles" %>

<div id="edit_style" class="style">

<%= error_messages_for :style %>

<% form_for(@style) do |f| %>
  
  <dl>
    <dt><%= f.text_field :title %></dt>
    <dd class="label">Title</dd>
    <dd class="description">Name of this style profile</dd>
  </dl>  
  <h2 id="foreground_styles">Main styles</h2>
  <dl class="foregrounds">
    <dt><div class="style_preview" id="preview_body"></div>
      <%= f.text_field :body %></dt>
    <dd class="label">Body text</dd>
    <dd class="description">Foreground style for standard text</dd>
    
    <dt><div class="style_preview" id="preview_heading"></div>
      <%= f.text_field :heading %></dt>
    <dd class="label">Heading style</dd>
    <dd class="description">Foreground style for standard headings (blog titles, lyric titles, &amp;c.)</dd>
    
    <dt><div class="style_preview" id="preview_news_heading"></div>
      <%= f.text_field :news_heading %></dt>
    <dd class="label">News entry heading style</dd>
    <dd class="description">Foreground style for titles of news headings</dd>
    
    <dt><div class="style_preview" id="preview_link"></div>
      <%= f.text_field :link %></dt>
    <dd class="label">Link style</dd>
    <dd class="description">Foreground style for standard text links</dd>
    
    <dt><div class="style_preview" id="preview_link_visited"></div>
      <%= f.text_field :link_visited %></dt>
    <dd class="label">Visited link style</dd>
    <dd class="description">Fireground style for visited text links</dd>
    
    <dt><div class="style_preview" id="preview_link_hover"></div>
      <%= f.text_field :link_hover %></dt>
    <dd class="label">Link hover style</dd>
    <dd class="description">Foreground hover style for standard text links</dd>
    
    <dt><div class="style_preview" id="preview_utility"></div>
      <%= f.text_field :utility %></dt>
    <dd class="label">Utility text style</dd>
    <dd class="description">Foreground style for utility text (blog entry bylines, &amp;c.)</dd>
  </dl>
  <h2 id="background_styles">Background styles</h2>
  <dl class="backgrounds">
    <dt><div class="style_preview" id="preview_main_bg"></div>
      <%= f.text_field :main_bg %></dt>
    <dd class="label">Main background</dd>
    <dd class="description">Background style for main content area</dd>
    
    <dt><div class="style_preview" id="preview_sidebar_bg"></div>
      <%= f.text_field :sidebar_bg %></dt>
    <dd class="label">Sidebar background</dd>
    <dd class="description">Background style for sidebar</dd>
  </dl>
  <h2 id="module_styles">Module styles</h2>  <dl class="modules">
    
    <dt><div class="style_preview" id="preview_module_bg"></div>
      <%= f.text_field :module_bg %></dt>
    <dd class="label">Module background</dd>
    <dd class="description">Background style for sidebar modules</dd>
    
    <dt><div class="style_preview" id="preview_module_heading"></div>
      <%= f.text_field :module_heading %></dt>  
    <dd class="label">Module heading style</dd>
    <dd class="description">Foreground style for module headings</dd>
    
    <dt><div class="style_preview" id="preview_module_heading_hover"></div>
      <%= f.text_field :module_heading_hover %></dt>
    <dd class="label">Module heading hover style</dd>
    <dd class="description">Foreground style for hover text on module headings</dd>
    
    <dt><div class="style_preview" id="preview_module_heading_bg"></div>
      <%= f.text_field :module_heading_bg %></dt>
    <dd class="label">Module heading background</dd>
    <dd class="description">Background style for module headings</dd>
    
    <dt><div class="style_preview" id="preview_module_heading_bg_hover"></div>
      <%= f.text_field :module_heading_bg_hover %></dt>
    <dd class="label">Module heading hover background</dd>
    <dd class="description">Background hover style for module headings</dd>
  </dl>
  <h2 id="footer_styles">Footer styles</h2>
  <dl class="footer">
    <dt><div class="style_preview" id="preview_footer"></div>
      <%= f.text_field :footer %></dt>
    <dd class="label">Footer text style</dd>
  		<dd class="description">Foreground style for footer</dd>
    
    <dt><div class="style_preview" id="preview_footer_link"></div>
      <%= f.text_field :footer_link %></dt>
    <dd class="label">Footer link style</dd>
  		<dd class="description">Link style for footer</dd>
    
    <dt><div class="style_preview" id="preview_footer_bg"></div>
      <%= f.text_field :footer_bg %></dt>
    <dd class="label">Footer background style</dd>
  		<dd class="description">Background style for footer</dd>
  </dl>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
</div>

<div id="preview">
  <%= render :partial => 'preview' %>
</div> <!-- end DIV "preview" -->



<%= observe_form("edit_style_#{@style.id}", :frequency => 1, :on => 'change', :url => { :action => :update_preview }, :with => {:id => @style.id}) %>


