<% @page_title = "Edit Fan" %>

<h1>Edit Fan <%= @fan.email %></h1>

<div  id="registration">
  <% if flash[:registration] %>
    <h4><%= flash[:registration] %></h4>
  <% end %>
</div> <!-- end DIV "registration" -->

<% error_messages_for :fan %>

<% form_for(@fan, :url => fan_path(@fan, :f => @fan.crypted_email), :html => {:method => :put}) do |f| %>

  <p>
    <b>Firstname</b><br />
    <%= f.text_field :firstname %>
  </p>

  <p>
    <b>Lastname</b><br />
    <%= f.text_field :lastname %>
  </p>  

  <p>
    <b>City</b><br />
    <%= f.text_field :city %>
  </p>

  <p>
    <b>State</b><br />
    <%= f.text_field :state %>
  </p>

  <p>
    <b>Zipcode</b><br />
    <%= f.text_field :zipcode %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
  
<% end %>


