- # TODO: Prettify design for Fan#show
- # TODO: Show tags, allow deleting of tags

-@page_title = @fan.name

%p
  %b= "First Name: #{@fan.firstname}"

%p
  %b= "Last Name: #{@fan.lastname}"

%p
  %b= "Email: #{@fan.email}"

%p
  %b= "City: #{@fan.city}"

%p
  %b= "State: #{@fan.state}"

%p
  %b= "Zipcode: #{@fan.zipcode}"
