<% @page_title = "Colors" %>

<div id="colors">

<h1>Colors</h1>

<%= link_to 'New color', new_color_path %>

<p>Choose color scheme: <br />

<% form_for(@setting) do |f| %>
  
<%= f.collection_select :color_id, Color.find(:all), :id, :title, :prompt => true %>
 
    <%= f.submit "Update" %>
<% end %></p>

<% for @color in @colors %>
<% @color.user = current_user if @color.user.blank? %>
<div class="color">
<h3 class="post_title"><%= @color.title %></h3>
  <p class="byline"> 
posted on <%= @color.created_at.strftime("%b %d %Y") %> by <strong><%= link_to(@color.user.full_name, colors_path(:author => @color.user.full_name)) %></strong>.
      (<%= link_to "edit", edit_color_path(@color) %> | <%= link_to 'delete', @color, :confirm => 'Are you sure?', :method => :delete %>)
  </p>
</div>
<% end %>  
</div> <!-- end DIV "colors" -->