<% @page_title = "Edit Promo" %>

<%= javascript_include_tag :fckeditor %>
<h1>Edit Promo</h1>

  <% if params[:preview_button] %>
    <%= render :partial => @promo %>
  <% end %>


<%= error_messages_for :promo %>

<% form_for(@promo) do |f| %>
  <p>
		<%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

    <%= fckeditor_tag("promo", "body", :height => "500px", :width => "600px") %>
  <p>
    <%= f.submit "Preview", :name => "preview_button" %>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @promo %> |
<%= link_to 'Back', promos_path %>
