%h2= "Status report for #{@status_presenter.site.artist_name}"

%h3= "#{@status_presenter.from_date} to #{@status_presenter.to_date}"

#mailing_list
  %h4 Mailing list

  %ul{:style => "list-decoration: none;"}
    %li= "#{pluralize(@status_presenter.new_fans_count, 'new fan')} subscribed to the mailing list: #{@status_presenter.new_fans_list}"
    %li= "#{pluralize(@status_presenter.new_unsubscribed_fans_count, 'fan')} unsubscribed from the mailing list"
    %li= "#{pluralize(@status_presenter.total_fan_count, 'fan')} total"
    %li= "#{pluralize(@status_presenter.new_deliveries_count, 'newsletter')} delivered to #{pluralize(@status_presenter.new_deliveries_fan_count, 'fan')}"
    %li= "#{pluralize(@status_presenter.facebook_fan_count, 'Facebook fan')} total"

#shows
  %h4 Shows

  %ul{:style => "list-decoration: none;"}
    %li 
      = "#{pluralize(@status_presenter.new_scheduled_shows_count, 'new show')} scheduled"
      %ul
        - @status_presenter.new_scheduled_shows.first(3).each do |new_show|
          %li= "#{new_show.title}"
    %li 
      = "#{pluralize(@status_presenter.new_performed_shows_count, 'show')} performed"
      %ul
        - @status_presenter.new_performed_shows.first(3).each do |show|
          %li
            = show.title
    - if @status_presenter.upcoming_shows?
      %li 
        upcoming shows:
        %ul
          - @status_presenter.upcoming_shows.first(3).each do |show|
            %li= "#{distance_of_time_in_words(Time.now, show.date)} until #{link_to(show.title, show_url)}"

#website
  %h4 Website

  %ul{:style => "list-decoration: none;"}
    %li 
      = "#{pluralize(@status_presenter.new_blogs_count, 'new blog')} posted"
      %ul
        - @status_presenter.new_blogs.first(3).each do |blog|
          %li= link_to blog.title, blog_url(blog)
        - if @status_presenter.new_blogs_count > 3
          %li= link_to "View the rest...", blogs_url
    %li 
      = "#{pluralize(@status_presenter.new_entries_count, 'new entry')} posted"
      %ul
        - @status_presenter.new_entries.first(3).each do |entry|
          %li= link_to entry.title, entry_url(entry)
        - if @status_presenter.new_entries_count > 3
          %li= link_to "View the rest...", entries_url
        
  
%p Goodbye.