<% @page_title = "New Show" %>

<%= calendar_date_select_includes "silver" %>
<%= javascript_include_tag :fckeditor %>

<h1>New Show</h1>

<%= error_messages_for :show %>

<% form_for(@show) do |f| %>
  
  <%= render :partial => "form", :locals => {:f => f} %>
 
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= observe_field("show_venue_id", :frequency => 1, :on => 'select', :url => { :action => :fill_venue_params }, :with => 'venue_id') %>


