  <div id="sidebar">
   	  <div id="about" class="module">
   	    <h2 id="about_module"><%= link_to "About", "" %></h2>
     	  <ul>
     	    <% for @member in @members %>
     	      <li><%= link_to @member.name, about_path(:id => @member.url) %></li>
     	    <% end %>
     	    <li>&nbsp;</li>
					<% unless @global_settings.email.blank? %>
      	    <li><%= mail_to sanitize(@global_settings.email), "Contact by email" %></li>
					<% end %>
     	  </ul>
   	  </div> <!-- end DIV "about" -->
    	
    	<% unless !@global_settings.has_web_profiles? || @page_title == "On the Web - " %>
  	  <div id="links" class="module">
  	    <h2 id="on_the_web"><%= link_to "On The Web", web_path %></h2>
  	    <ul>
  	      <% unless @global_settings.facebook_profile.blank? %>
  	        <li><%= link_to "Facebook", @global_settings.facebook_profile %></li>
  	      <% end %>
  	      <% unless @global_settings.myspace_profile.blank? %>
  	        <li><%= link_to "MySpace", myspace_link(@global_settings.myspace_profile) %></li>
  	      <% end %>
  	      <% for web_profile in @global_settings.web_profiles %>
  	        <li><%= link_to web_profile.name, web_profile.url %></li>
  	      <% end %>
  	    </ul>
  	  </div>
  	  <% end %>
  	  
  	  <% unless !@global_settings.show_music? || @songs.empty? || @page_title == "Music - " %>
    	  <div id="listen" class="module">
					<h2><%= link_to "Music", songs_path %></h2>
      		<ul>
      		  <% @songs.each_with_index do |@song, i| %>
      		    <li><%= link_to @song.title, @song %></li>
      		    <li><%= music_player(@song.url,i+1,180) %></li>
      		  <% end %>
      		</ul>
      	</div> <!-- end DIV 'listen' -->
    	<% end %>
  	  
  	  <% unless !@global_settings.show_shows? || @shows.empty? || @page_title == "Shows - " %>
  	  	<div id="calendar" class="module">
					<h2><%= link_to "Shows", shows_path %></h2>
	    		  <% for @show in @shows %>
	    		    <%= shows(:show_body => false, :show_byline => false, :show_map => false, :show_year => false) %>
	    		  <% end %>
	  	  </div>
  	  <% end %>
    	
    	<% unless !@global_settings.show_blog? || @blogs.empty? || @page_title == "Blog - " %>
    	<div id="recent_posts" class="module">    	  
    		<h2><%= link_to "Recent Posts", blogs_path %></h2>
    		<ul>    		    
    		    <% for @blog in @blogs do %>    		    
              <li class="post_title" id="post_title_<%= @blog.id %>"><%= link_to(@blog.title, blog_path(@blog)) %></li>
    		    <% end %>		    
    		</ul>
    		<h5 class="more">
    		  <%= link_to "more posts...", blogs_path %>
    		</h5>
    	</div> <!-- end DIV 'recent_posts' -->
    	<% end %>

			<% unless @twitter_error || !@global_settings.show_twitter? || @page_title == "Twitter - " %>
				<div id="twitter" class="module">
					<h2 id="twitter"><%= link_to "Twitter", twitter_path %></h2>
					<%= render :partial => 'layouts/twitter' %>

				</div>
			<% end %>
  	</div> <!-- end DIV 'sidebar' -->
  	