<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=852" />
  
  <meta property="fb:admins" content="1385140280" />
  <meta property="fb:app_id" content="119792548030775" />

  <meta property="og:type" content="band" />
  <meta property="og:description" content="Nerdwave music from Austin, Texas." />
  
  <% @page_title += " - " unless @page_title.blank? %>
  <title><%= @page_title %><%= @site_name %></title>
  
  <%= stylesheet_link_tag 'styles' %>
  
  <%= stylesheet_link_tag 'iphone' if params.has_key?(:iphone) %>
  <%= stylesheet_link_tag style_path(global_settings.style, :format => "css") if global_settings.style %>
  
  <%= stylesheet_link_tag 'admin' if admin? && logged_in? %>
  
  <%= stylesheet_link_tag 'iphone', :media => "only screen and (max-device-width: 480px)" %>
  
  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'effects' %>
  <%= javascript_include_tag 'dragdrop' %>
  <%= javascript_include_tag 'audio-player' %>
  <%= javascript_include_tag 'controls' %>
  
  <%= auto_discovery_link_tag(:rss, "/rss.rss", {:title => "#{@global_settings.artist_name} Unified RSS Feed"})  %>

<!-- Individual RSS Feeds -->
<!-- Un-comment these to make them available automatically -->
<% auto_discovery_link_tag(:rss, "/blogs.rss", {:title => "#{@global_settings.artist_name} Blog"})  %>
<% auto_discovery_link_tag(:rss, "/entries.rss", {:title => "#{@global_settings.artist_name} News"})  %>
<% auto_discovery_link_tag(:rss, "/lyrics.rss", {:title => "#{@global_settings.artist_name} Lyrics"})  %>
<% auto_discovery_link_tag(:rss, "http://www.youtube.com/rss/user/#{@global_settings.youtube_profile}/videos.rss", {:title => "#{@global_settings.artist_name} Videos"}) %>
<!-- end RSS Feeds -->

</head>
<body class="<%= @body_style %>">

<div id="wrap">
	<div id="header">
	  <div id="header_code">
      <%= @global_settings.header %>
    </div>
    <div id="logo">  
      <%= link_to_unless_current(image_tag("/1x1.gif", :size => "505x150", :id => "logo_image"), home_path) %>
    </div> <!-- end DIV 'logo' -->
    
    <% unless !@global_settings.show_fans || @body_style == "fans" %>
	  <div id="mailing_list">
	    <h4 id="join_the_mailing_list">Join the mailing list:</h4>   
	    <% form_for(@fan) do |f| %>
        <%= hidden_field_tag :homepage, true %>
        <%= f.text_field :email, :id => "email", :value => "Email Address" %>
        <%= f.text_field :zipcode, :id =>"zip_code", :value => "Zip Code" %>
       
        <!-- need a better way of pre-filling these fields: -->
        <%= f.hidden_field :city, :value => "Austin" %>
        <%= f.hidden_field :state, :value => "TX" %>
       
        <%= f.submit "SIGN UP", :class =>"signup" %>
      <% end %>
    </div> <!-- end DIV 'mailing_list' -->

		<div id="mailing_list_iphone">
			<%= button_to "Join the mailing list!", new_fan_path, :id => "join_mailing_list", :height => "50", :width => "200" %>
		</div> <!-- end DIV 'iphone' -->
	  
    <% end %>
	</div> <!-- end DIV 'header' -->
	<div id="inside-wrap">
  
  	<div id="nav">
  		<ul>
  			<% if @global_settings.show_news? %>
  			<li><%= link_to_unless_current "News", entries_path %></li>
  			<% end %>
  			<% if @global_settings.show_blog? %>
  			<li><%= link_to_unless_current "Blog", blogs_path %></li>
  			<% end %>
  			<% if @global_settings.show_videos? %>
  			<li><%= link_to_unless_current "Videos", videos_path %></li>
  			<% end %>
  			<% if @global_settings.show_music? %>
  			<% music_link = @global_settings.music_link || music_path %>
  			<li><%= link_to_unless_current "Music", music_link %></li>
  			<% end %>
  			<% if @global_settings.show_lyrics? %>
  			<li><%= link_to_unless_current "Lyrics", lyrics_path %></li>		
  			<!--<li><%= link_to_unless_current "photos", photos_path %></li>-->
  			<% end %>
  			<% if @global_settings.show_shows? %>
  			<li><%= link_to_unless_current "Shows", shows_path %></li>
  			<% end %>
  			<!--<li><%= link_to_unless_current "About", about_path %></li>-->
  		</ul>
  	</div> <!-- end DIV 'nav' -->
  	
  	
  <%= render :partial => "/layouts/admin" if logged_in? %>
  	
  	<div id="main">
  	  
  	<% if flash[:notice] %>
  	  <div id="notice"><p><%= flash[:notice] %></p></div>
  	<% else %>
  	<div id="no_notice">  	  
  	</div> <!-- end DIV name -->
  	<% end %>
 
      <%= yield %>       
      
  	</div> <!-- end DIV "main" -->
  	<%= sidebar @page_title if show_sidebar? %>
  	
  		
	</div> <!-- end DIV 'inside-wrap' -->
  	<div id="footer">
  	    <p><% if @global_settings.show_blog? %>
    	    Subscribe: <%= link_to "Blog", blogs_url(:format => :rss) %> | 
    	  <% end %>
    	  <% if @global_settings.show_news? %>
    	    <%= link_to "News", entries_url(:format => :rss) %> | 
    	  <% end %>
    	  <% if @global_settings.show_lyrics? %>
    	    <%= link_to "Lyrics", lyrics_url(:format => :rss) %> | 
    	  <% end %>
    	  <% if @global_settings.show_videos? %>
    	    <%= link_to "Videos (YouTube)", "http://www.youtube.com/rss/user/#{@global_settings.youtube_profile}/videos.rss" %>
    	  <% end %>
  	  </p>
  	  <p id="copyright_notice">Copyright 2010 <%= @global_settings.artist_name %></p>
	  </div><!-- end DIV 'footer' -->
		  
</div> <!-- end DIV 'wrap' -->

<%= @global_settings.footer %>

<% javascript_tag do %>

var EmailText = "Email Address";
var ZipCodeText = "Zip Code";

$('email').observe('focus', respondToFocusEmail);
$('zip_code').observe('focus', respondToFocusZipCode);
$('email').observe('blur', restoreDefaultEmailText);
$('zip_code').observe('blur', restoreDefaultZipCodeText);

function respondToFocusEmail(event) {
  var element = event.element();
  if (element.value == EmailText) {
		element.value = "";
	}
}

function respondToFocusZipCode(event) {
  var element = event.element();
  if (element.value == ZipCodeText) {
		element.value = "";
	}
}

function restoreDefaultEmailText(event) {
  var element = event.element();
  if (element.value == "") {
		element.value = EmailText;
	}
}

function restoreDefaultZipCodeText(event) {
  var element = event.element();
  if (element.value == "") {
		element.value = ZipCodeText;
	}
}
<% end %>

<div id="fb-root"></div>
<script src="http://static.ak.fbcdn.net/connect/en_US/core.js"></script>
<script>
  FB.init({
    apiKey : 'ed8d4acb25dcf4717ef54d54b5e52b3a',
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true  // parse XFBML
  });
  
  document.observe("dom:loaded", function() {
    FB.XFBML.parse();
  });
</script>

</body>
</html>