<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <% @page_title = "Login" %>
  <% @page_title += " - " unless @page_title.blank? %>
  <title><%= @page_title %><%= @site_name %></title>
  
  <%= stylesheet_link_tag 'styles' %>

</head>
<body class="<%= @body_style %>">

<%= yield %>

</body>
</html>
